footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #00FF00;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
}